<div class="container">
  <h1>What is a Mind Computer?</h1>

  <video
    autoplay
    controls
    src="../../../assets/videos/001.symbiote-bci-landing-video.mov"
  ></video>

  <div class="transcript">
    <h2>Video transcript</h2>
    <p>
      This is the transcript of the video. A mind computer is a system that
      leverages the power of brain-computer interfaces to enable seamless
      interaction between thoughts and machines. This technology bridges the gap
      between human cognition and artificial intelligence.
    </p>
  </div>
</div>
