<div class="container">
  <h1>What is a BCI?</h1>

  <video autoplay controls src="../../../assets/videos/001.symbiote-bci-landing-video.mov"></video>

  <div class="transcript">
    <h2><b>Video Transcript</b></h2>
    <p>
      BCI stands for Brain-Computer Interface and they're really simple.<br><br>

      Think of the brain like a set of drums, constantly beating out rhythms. The BCI works like a microphone, picking
      up the beats without touching the drums directly. Then, Artificial Intelligence listens to these rhythms and
      understands what each beat means. It's like turning the brain's rhythm into signals that control smart
      devices.<br><br>

      We use all kinds of devices - laptops, phones, smart bulbs - each has its own particular learning curve. The
      harder the interface, the steeper the curve. The problem is the UI. Our goal? Eliminate it entirely. Imagine
      controlling everything with just the power of your mind.
      To do this, we need a non-intrusive BCI headset that translates thoughts into commands. And the good part is that
      we have it and Symbiote's strategy is straightforward: teach students at schools, highschools and universities how
      to use BCI systems by integrating them into daily life.

    </p>
  </div>
</div>