<div class="container">
  <h1>How a BCI works?</h1>

  <p>
    Our brain constantly generates subtle electrical signals that pass through the scalp without us perceiving them.
    These signals originate from neuronal activity and contain information about our mental state.
    <br><br>A BCI (Brain-Computer Interface) is a device that captures these signals and translates them into a format
    that a
    computer can understand. It is a non-invasive, completely painless technology that enables direct communication
    between the brain and a digital system.
    <br><br><b>Symbiote I</b> is such a system, capable of reading signals from <b>16 different areas of the brain</b>
    with
    high precision.
    It analyzes brain activity <b>256 times per second</b>, allowing for a detailed interpretation of the
    user's level of concentration or relaxation in real time.
  </p>

  <div class="photo-container">
    <div class="card">
      <img src="assets/images/a.jpg" alt="Headset Front View" class="headset-photo" />
    </div>
    <div class="card">
      <img src="assets/images/a.jpg" alt="Headset Side View" class="headset-photo" />
    </div>
    <div class="card">
      <img src="assets/images/a.jpg" alt="Headset Back View" class="headset-photo" />
    </div>
  </div>
</div>