<div class="technology-container mat-elevation-z4">
    <mat-toolbar class="technology-header">
        <span>How the Headset Works</span>
    </mat-toolbar>

    <div class="description-container">
        <p>
            The headset leverages advanced brain-computer interface (BCI) technology to detect neural signals and
            translate them into actionable commands.
            It uses a combination of sensors, machine learning algorithms, and real-time data processing to enable
            seamless interaction between the user and devices.
            This cutting-edge technology opens up possibilities in areas such as augmented reality, robotics, and
            accessibility.
        </p>
    </div>

    <div class="photo-container">
        <img src="assets/images/a.jpg" alt="Headset Front View" class="headset-photo">
        <img src="assets/images/a.jpg" alt="Headset Side View" class="headset-photo">
        <img src="assets/images/a.jpg" alt="Headset Back View" class="headset-photo">
    </div>
</div>
