img {
  width: 200px;
}

h1 {
  margin: 4.5rem 0;
}

p {
  max-width: 850px;
  width: 90%;
}

.photo-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 850px;
  width: 90%;
}

.card {
  width: 260px;
  height: 200px;
  border-radius: 20px;
  background-color: #87878766;
  display: flex;
  align-items: center;
  justify-content: center;
}
