img {
  width: 200px;
}

h1 {
  margin: 4.5rem 0;
}

p {
  max-width: 850px;
  width: 90%;
}

.container {
  height: auto;
}

.photo-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  max-width: 850px;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.card {
  width: 260px;
  height: 200px;
  border-radius: 20px;
  background-color: #87878766;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .photo-container {
    margin-top: 2rem;
  }
}
