@use "@angular/material" as mat;
@use "../m3-theme.scss";

@include mat.core();

html {
  @include mat.all-component-themes(m3-theme.$light-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
p {
  color: white;
}

h1,
h2 {
  font-weight: 500;
}

p {
  font-size: 20px;
}

.container {
  height: calc(100svh - 115px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
