h1 {
  margin: 4.5rem 0;
}

h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 22px;
}

h3 {
  font-weight: 500;
  color: #9747ec;
  font-size: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.card {
  height: 400px;
  width: 220px;
  border-radius: 30px;
  background-color: #7b7b7b66;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em;
  box-sizing: border-box;
}

.container {
  height: auto;
}

img {
  height: 120px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  font-weight: 300;
  text-indent: 1rem;
}

@media screen and (max-width: 600px) {
  .card {
    height: auto;
    width: 370px;
    max-width: 90%;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons i {
  font-size: 30px;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons i:hover {
  color: white;
  transform: scale(1.2);
}

.linkedin-icon {
  font-size: 40px;
}

.instagram-icon {
  font-size: 40px;
}

.facebook-icon {
  font-size: 40px;
}