<div class="container">
  <h1>Meet the team behind Symbiote</h1>
  <div class="cards">
    <div class="card-row">
      <div class="card">
        <img src="../../../assets/images/1.png" alt="" />
        <h2>Nepotu Simedrea</h2>
        <h3>Engineer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, error
          illo reiciendis cumque facilis beatae cum modi consequatur quaerat
          hic!
        </p>
      </div>
      <div class="card">
        <img src="../../../assets/images/2.png" alt="" />
        <h2>Mihai Simedrea</h2>
        <h3>Engineer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, error
          illo reiciendis cumque facilis beatae cum modi consequatur quaerat
          hic!
        </p>
      </div>
    </div>
    <div class="card-row">
      <div class="card">
        <img src="../../../assets/images/3.png" alt="" />
        <h2>Nepotu Mihai</h2>
        <h3>Engineer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, error
          illo reiciendis cumque facilis beatae cum modi consequatur quaerat
          hic!
        </p>
      </div>
      <div class="card">
        <img src="../../../assets/images/4.png" alt="" />
        <h2>Mihai Nepotu</h2>
        <h3>Engineer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, error
          illo reiciendis cumque facilis beatae cum modi consequatur quaerat
          hic!
        </p>
      </div>
    </div>
  </div>
</div>
