<div class="container">
  <h1>Symbiote BCI Team</h1>
  <div class="cards">
    <div class="card-row">
      <div class="card">
        <img src="../../../assets/images/1.png" alt="" />
        <h2>Mihai</h2>
        <h3>CEO</h3>
        <br><br>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/mihai-simedrea-80522421a/" target="_blank"><i
              class="fab fa-linkedin linkedin-icon"></i></a>
          <a href="https://www.instagram.com/mihai_simedrea/" target="_blank"><i
              class="fab fa-instagram instagram-icon"></i></a>
          <a href="https://www.facebook.com/mihainicolae.simedrea/" target="_blank"><i
              class="fab fa-facebook facebook-icon"></i></a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/images/4.png" alt="" />
        <h2>Darius</h2>
        <h3>Technology Officer</h3>
        <br><br>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/darius-chifor-83836521b/" target="_blank"><i
              class="fab fa-linkedin linkedin-icon"></i></a>
          <a href="https://www.instagram.com/daryusoctavyan/" target="_blank"><i
              class="fab fa-instagram instagram-icon"></i></a>
          <a href="https://www.facebook.com/chifor.darius" target="_blank"><i
              class="fab fa-facebook facebook-icon"></i></a>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div class="card">
        <img src="../../../assets/images/3.png" alt="" />
        <h2>Darius</h2>
        <h3>Operations Officer</h3>
        <br><br>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/dariusops" target="_blank"><i
              class="fab fa-linkedin linkedin-icon"></i></a>
          <a href="https://www.instagram.com/dariusmironandrei/" target="_blank"><i
              class="fab fa-instagram instagram-icon"></i></a>
          <a href="https://www.facebook.com/dariusmironandrei" target="_blank"><i
              class="fab fa-facebook facebook-icon"></i></a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/images/2.png" alt="" />
        <h2>Pepe</h2>
        <h3>Investor</h3>
        <br><br>
        <div class="social-icons">
          <a><i class="fab fa-linkedin linkedin-icon"></i></a>
          <a><i class="fab fa-instagram instagram-icon"></i></a>
          <a><i class="fab fa-facebook facebook-icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>