.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  background-color: #33333366;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.filler {
  height: 50px;
}

p {
  font-size: 14px;
  color: #666;
}
