.main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-in-touch-btn {
  font-size: 24px;
  padding: 12px 24px;
}
