<div class="main-container">
    <app-header></app-header>

    <div class="main">
    </div>
    <div class="bg">
        <app-rotating-cube></app-rotating-cube>
        <h1 style="color: white">Symbiote I</h1>
        <h3 style="color: white">The Next Frontier in Brain-Computer Interaction</h3>
        <button mat-button class="get-in-touch-btn">Get A Quote</button>
    </div>

    <div class="star-field">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>

    <app-footer></app-footer>
</div>